
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 37.5rem;
}.apply-v4J {
  height: 81.2rem;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
  width: 100%;

  .group-1000000727-3uc {
    position: absolute;
    left: 0;
    top: 4rem;
    row-gap: 3rem;
    display: flex;
    flex-direction: column;
    width: 56rem;
    height: 80.8rem;

    .heading-Zd4 {
      align-items: center;
      flex-shrink: 0;
      margin: 0rem 20.5rem 0rem 2rem;
      width: calc(100% - 22.5rem);
      display: flex;

      .menu-F8W {
        margin-right: 24.7rem;
        width: 4.4rem;
        height: 4.4rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .rectangle-382-n8S {
        width: 4.4rem;
        height: 4.4rem;
        object-fit: cover;
        vertical-align: top;
        border-radius: 3.5rem;
        flex-shrink: 0;
      }
    }
    .search-box-uD4 {
      width: calc(100% - 22.5rem);
      height: 5.4rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;
      margin: 0rem 20.5rem 0rem 2rem;

      .auto-group-uhra-pqp {
        font-family: Poppins, 'Source Sans Pro';
        margin-right: 1.5rem;
        width: 26.6rem;
        font-size: 1.6rem;
        border-radius: 1.5rem;
        flex-shrink: 0;
        color: #6a6a6a;
        white-space: nowrap;
        background-color: #ffffff;
        padding: 1.9rem 2rem;
        line-height: 1;
        box-sizing: border-box;
        height: 100%;
        font-weight: 400;
      }
      .go-btn-gNE {
        height: 100%;
        background-color: #4ca6a8;
        border-radius: 1.5rem;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 1.9rem 1.7rem 1.9rem 1.7rem;

        .adjust-horizontal-alt-Qp2 {
          width: 2rem;
          height: 1.6rem;
          object-fit: contain;
          vertical-align: top;
        }
      }
    }
    .popular-job-Kg6 {
      margin-left: 2rem;
      width: 54rem;
      flex-shrink: 0;

      .auto-group-popq-rg2 {
        display: flex;
        align-items: flex-end;
        margin: 0rem 20.5rem 2rem 0rem;
        width: calc(100% - 20.5rem);

        .popular-job-BiJ {
          margin-right: 16.3rem;
          font-size: 2rem;
          font-weight: 600;
          line-height: 1;
          color: #1a1d1e;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
        .show-all-vA6 {
          line-height: 1;
          color: #6a6a6a;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.2rem;
          font-weight: 400;
        }
      }
      .auto-group-eyrn-dqC {
        width: 100%;
        height: 16rem;
        display: flex;
        align-items: center;

        .google-zQr {
          margin-right: 2rem;
          box-sizing: border-box;
          width: 26rem;
          box-shadow: 0 1rem 3.5rem rgba(0, 0, 0, 0.1000000015);
          background-color: #ffffff;
          padding: 1.5rem 2rem 2.4rem 1.3rem;
          height: 100%;
          border-radius: 2rem;
          flex-shrink: 0;

          .auto-group-mfai-uXp {
            margin: 0rem 0rem 0.5rem 0.2rem;
            width: calc(100% - 0.2rem);
            display: flex;
            align-items: center;

            .google-Ea6 {
              margin-right: 15.7rem;
              width: 4rem;
              height: 4rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .love-yGn {
              vertical-align: top;
              flex-shrink: 0;
              margin-bottom: 0.2rem;
              width: 2.8rem;
              height: 2.8rem;
              object-fit: contain;
            }
          }
          .google-WXc {
            font-size: 1.2rem;
            color: #6a6a6a;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            margin-bottom: 2rem;
            text-align: center;
            font-weight: 400;
            line-height: 1;
            width: 100%;
          }
          .lead-product-manager-EiW {
            line-height: 1;
            color: #151313;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            margin: 0rem 0rem 1.6rem 0.2rem;
            font-size: 1.6rem;
            font-weight: 500;
          }
          .auto-group-7cae-wcv {
            align-items: center;
            margin-right: 6.3rem;
            width: calc(100% - 6.3rem);
            display: flex;

            .m-gaW {
              font-size: 1.2rem;
              font-weight: 600;
              line-height: 1;
              font-family: Poppins, 'Source Sans Pro';
              margin-right: 0.5rem;
              color: #151313;
              white-space: nowrap;
              flex-shrink: 0;
              text-align: center;
            }
            .toronto-canada-bxN {
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              text-align: center;
              font-size: 1.2rem;
              font-weight: 400;
              line-height: 1;
              color: #6a6a6a;
            }
          }
        }
        .shopify-UmG {
          width: 26rem;
          height: 100%;
          box-shadow: 0 1rem 3.5rem rgba(0, 0, 0, 0.1000000015);
          background-color: #ffffff;
          border-radius: 2rem;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 1.5rem 2rem 2.2rem 1.2rem;

          .auto-group-6dmk-bqt {
            align-items: center;
            margin: 0rem 0rem 0.5rem 0.3rem;
            width: calc(100% - 0.3rem);
            display: flex;

            .logo-w94 {
              flex-shrink: 0;
              margin-right: 15.7rem;
              width: 4rem;
              height: 4rem;
              object-fit: contain;
              vertical-align: top;
            }
            .love-4jU {
              margin-bottom: 0.2rem;
              width: 2.8rem;
              height: 2.8rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
          }
          .shopify-bzJ {
            width: 100%;
            text-align: center;
            line-height: 1;
            font-family: Poppins, 'Source Sans Pro';
            margin-bottom: 2rem;
            font-size: 1.2rem;
            font-weight: 500;
            color: #6a6a6a;
            white-space: nowrap;
          }
          .senior-ui-designer-j4v {
            margin: 0rem 0rem 1.8rem 0.3rem;
            font-size: 1.6rem;
            font-weight: 500;
            line-height: 1;
            color: #151313;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
          }
          .auto-group-4byn-FZ4 {
            margin-right: 6.4rem;
            width: calc(100% - 6.4rem);
            display: flex;
            align-items: center;

            .m-QB4 {
              text-align: center;
              font-weight: 600;
              color: #151313;
              font-family: Poppins, 'Source Sans Pro';
              flex-shrink: 0;
              margin-right: 0.5rem;
              font-size: 1.2rem;
              line-height: 1;
              white-space: nowrap;
            }
            .toronto-canada-8sk {
              text-align: center;
              font-size: 1.2rem;
              font-weight: 400;
              line-height: 1;
              color: #9e9e9e;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
          }
        }
      }
    }
    .auto-group-nw8v-qXG {
      height: 42rem;
      position: relative;
      flex-shrink: 0;
      width: 37.5rem;

      .recent--PHt {
        position: absolute;
        left: 2rem;
        top: 0;
        row-gap: 2rem;
        align-items: center;
        display: flex;
        width: 33.5rem;
        flex-direction: column;
        height: 42rem;

        .auto-group-83hk-Vbp {
          width: 100%;
          display: flex;
          align-items: flex-end;
          flex-shrink: 0;

          .recent-post-FL6 {
            flex-shrink: 0;
            margin-right: 16.6rem;
            font-size: 2rem;
            font-weight: 600;
            line-height: 1;
            color: #1a1d1e;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
          }
          .show-all-yWz {
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.2rem;
            font-weight: 400;
            line-height: 1;
            color: #6a6a6a;
            font-family: Poppins, 'Source Sans Pro';
          }
        }
        .fb-tab-uvS {
          background-color: #ffffff;
          border-radius: 2rem;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 1.5rem 1.2rem 1.5rem 1.5rem;
          display: flex;
          box-shadow: 0 1rem 3.5rem rgba(63, 59, 75, 0.1000000015);
          width: 100%;
          height: 8rem;
          align-items: center;

          .facebook-SfU {
            margin-right: 2rem;
            width: 5rem;
            height: 5rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .auto-group-gkqn-amg {
            flex-direction: column;
            flex-shrink: 0;
            margin: 0.5rem 5.8rem 0.7rem 0rem;
            height: calc(100% - 1.2rem);
            display: flex;

            .ui-ux-designer-Jxa {
              flex-shrink: 0;
              margin-bottom: 1rem;
              font-size: 1.6rem;
              font-weight: 600;
              line-height: 1;
              color: #1a1d1e;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
            }
            .full-time-ErE {
              font-weight: 400;
              line-height: 1;
              color: #6a6a6a;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.2rem;
            }
          }
          .m-aQJ {
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.2rem;
            font-weight: 500;
            line-height: 1;
            color: #6a6a6a;
          }
        }
        .spotify-tab-s8W {
          box-sizing: border-box;
          width: 100%;
          height: 8rem;
          display: flex;
          box-shadow: 0 1rem 3.5rem rgba(63, 59, 75, 0.1000000015);
          background-color: #ffffff;
          border-radius: 2rem;
          flex-shrink: 0;
          padding: 1.5rem 1.2rem 1.5rem 1.5rem;
          align-items: center;

          .spotify-But {
            margin-right: 2rem;
            width: 5rem;
            height: 5rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .auto-group-gcpu-L26 {
            flex-shrink: 0;
            margin: 0.5rem 4rem 0.7rem 0rem;
            height: calc(100% - 1.2rem);
            display: flex;
            flex-direction: column;

            .product-designer-3BQ {
              color: #1a1d1e;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-bottom: 1rem;
              font-size: 1.6rem;
              font-weight: 600;
              line-height: 1;
            }
            .full-time-B2i {
              flex-shrink: 0;
              font-size: 1.2rem;
              font-weight: 400;
              line-height: 1;
              color: #6a6a6a;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
            }
          }
          .m-Jt2 {
            color: #6a6a6a;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.2rem;
            font-weight: 500;
            line-height: 1;
          }
        }
        .netflix-pLa {
          box-sizing: border-box;
          box-shadow: 0 1rem 3.5rem rgba(63, 59, 75, 0.1000000015);
          height: 8rem;
          display: flex;
          align-items: center;
          background-color: #ffffff;
          border-radius: 2rem;
          flex-shrink: 0;
          padding: 1.5rem 1.2rem 1.5rem 1.5rem;
          width: 100%;

          .spotify-jyL {
            height: 5rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 2rem;
            width: 5rem;
          }
          .auto-group-gutn-Hjx {
            flex-shrink: 0;
            margin: 0.5rem 5.3rem 0.7rem 0rem;
            height: calc(100% - 1.2rem);
            display: flex;
            flex-direction: column;

            .visual-designer-oTQ {
              color: #1a1d1e;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-bottom: 1rem;
              font-size: 1.6rem;
              font-weight: 600;
              line-height: 1;
            }
            .full-time-jM4 {
              color: #6a6a6a;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.2rem;
              font-weight: 400;
              line-height: 1;
            }
          }
          .m-sTG {
            flex-shrink: 0;
            font-size: 1.2rem;
            font-weight: 500;
            line-height: 1;
            color: #6a6a6a;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
          }
        }
        .slack-N98 {
          opacity: 0.3;
          box-sizing: border-box;
          padding: 1.5rem 2.6rem 1.5rem 1.5rem;
          display: flex;
          flex-shrink: 0;
          width: 100%;
          height: 8rem;
          align-items: center;
          box-shadow: 0 1rem 3.5rem rgba(63, 59, 75, 0.1000000015);
          background-color: #ffffff;
          border-radius: 2rem;

          .spotify-Uhx {
            width: 5rem;
            height: 5rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 2rem;
          }
          .auto-group-9z98-pG2 {
            margin: 0.5rem 7.5rem 0.7rem 0rem;
            height: calc(100% - 1.2rem);
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .visual-designer-wrS {
              flex-shrink: 0;
              margin-bottom: 1rem;
              font-size: 1.6rem;
              font-weight: 600;
              line-height: 1;
              color: #1a1d1e;
              font-family: Sofia Pro, 'Source Sans Pro';
              white-space: nowrap;
            }
            .full-time-ULa {
              flex-shrink: 0;
              font-size: 1.2rem;
              font-weight: 400;
              line-height: 1;
              color: #9e9e9e;
              font-family: Sofia Pro, 'Source Sans Pro';
              white-space: nowrap;
            }
          }
          .m-p9Y {
            line-height: 1;
            color: #9e9e9e;
            font-family: Sofia Pro, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.2rem;
            font-weight: 500;
          }
        }
      }
      .navigation-iEv {
        width: 37.5rem;
        height: 9.2rem;
        position: absolute;
        left: 0;
        top: 29.2rem;

        .shadow-qaS {
          width: 37.5rem;
          height: 4.8rem;
          position: absolute;
          left: 0;
          top: 0;
          background: linear-gradient(180deg, rgba(7, 20, 41, 0.0700000003) 0%, rgba(196, 196, 196, 0.0700000003) 100%);
        }
        .rectangle-67-Ln6 {
          position: absolute;
          left: 0;
          top: 2.2rem;
          background-color: #ffffff;
          border-radius: 3.05rem 3.05rem 0 0;
          width: 37.5rem;
          height: 7rem;
        }
        .vector-3-4i6 {
          top: 7.9rem;
          object-fit: contain;
          vertical-align: top;
          width: 1.6rem;
          height: 1.3rem;
          position: absolute;
          left: 4.9rem;
        }
        .home-zbk {
          width: 1.9rem;
          height: 2rem;
          position: absolute;
          left: 4.85rem;
          top: 4.2rem;
          object-fit: contain;
          vertical-align: top;
        }
        .massage-L9p {
          flex-direction: column;
          width: 5.5rem;
          height: 3.7rem;
          position: absolute;
          left: 12.2rem;
          top: 4.2rem;
          align-items: center;
          display: flex;

          .chat-fC6 {
            height: 2rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin: 0rem 0rem 0.5rem 0.1rem;
            width: 2rem;
          }
          .massage-bLe {
            line-height: 1;
            color: #a8a8aa;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.2rem;
            font-weight: 400;
          }
        }
        .setting-igA {
          display: flex;
          flex-direction: column;
          width: 4.2rem;
          height: 3.7rem;
          position: absolute;
          left: 29.4rem;
          top: 4.2rem;
          align-items: center;

          .setting-epi {
            width: 1.9rem;
            height: 2rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin: 0rem 0rem 0.5rem 0.1rem;
          }
          .setting-nAE {
            flex-shrink: 0;
            font-size: 1.2rem;
            font-weight: 400;
            line-height: 1;
            color: #a8a8aa;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
          }
        }
        .profile-iJn {
          top: 4.2rem;
          align-items: center;
          display: flex;
          flex-direction: column;
          width: 3.7rem;
          height: 3.7rem;
          position: absolute;
          left: 21.7rem;

          .profile-dge {
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin: 0rem 0rem 0.5rem 0.1rem;
            width: 1.6rem;
            height: 2rem;
          }
          .profile-xiv {
            font-size: 1.2rem;
            font-weight: 400;
            line-height: 1;
            color: #a8a8aa;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
        }
      }
    }
  }
  .rectangle-527-tsU {
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(42, 42, 42, 0.6999999881);
    width: 37.5rem;
    height: 81.2rem;
  }
  .group-1000000726-RcW {
    background-color: #fbfbfb;
    width: 38.8rem;
    height: 72.2rem;
    top: 9.3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5rem 5rem 0 0;
    box-sizing: border-box;
    padding: 1rem 0rem 2.9rem 2rem;
    cursor: pointer;
    position: absolute;
    left: 0;

    .rectangle-538-6ie {
      background-color: #e1e1e1;
      border-radius: 1rem;
      flex-shrink: 0;
      margin: 0rem 16rem 3.2rem 12.8rem;
      width: calc(100% - 28.8rem);
      height: 0.4rem;
      cursor: pointer;
    }
    .spotify-cBC {
      margin: 0rem 16.5rem 2rem 13.3rem;
      box-sizing: border-box;
      padding: 1.4rem;
      width: calc(100% - 29.8rem);
      background-color: #ddffe9;
      border-radius: 2rem;
      flex-shrink: 0;

      .item-2788551461556105333-2-Xox {
        width: 4.2rem;
        height: 4.2rem;
        position: relative;
        object-fit: contain;
        vertical-align: top;
      }
    }
    .web-developer-po4 {
      line-height: 1;
      color: #1a1d1e;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 4.8rem 2.4rem 0rem;
      font-size: 1.6rem;
      font-weight: 600;
    }
    .spotify-details-kAv {
      width: calc(100% - 19.9rem);
      display: flex;
      align-items: center;
      flex-shrink: 0;
      margin: 0rem 13.4rem 2.8rem 6.5rem;
      box-sizing: border-box;
      padding: 0.2rem 0;

      .spotify-FdU {
        margin-right: 0.7rem;
        font-size: 1.4rem;
        font-weight: 500;
        line-height: 1;
        color: #1a1d1e;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
      .line-212-ntJ {
        margin: 0.15rem 1.318rem 0rem 0rem;
        width: 1.5rem;
        height: 0.15rem;
        background-color: #1a1d1e;
        flex-shrink: 0;
      }
      .location-uxv {
        height: 1.3703rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 0.83rem 0.019rem 0rem;
        width: 1.1517rem;
      }
      .erbil-iraq-qra {
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 1.4rem;
        font-weight: 500;
        line-height: 1;
        color: #6a6a6a;
      }
    }
    .auto-group-xotw-apA {
      width: calc(100% - 9.7rem);
      height: 2rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;
      margin: 0rem 6.3rem 3rem 3.4rem;

      .time-6nW {
        align-items: center;
        flex-shrink: 0;
        margin-right: 8.1rem;
        box-sizing: border-box;
        padding: 0.1rem 0rem 0.1rem 0.125rem;
        height: 100%;
        display: flex;

        .ant-design-clock-circle-outlined-2gA {
          height: 1.75rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin-right: 1.025rem;
          width: 1.75rem;
        }
        .full-time-xZp {
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.8rem;
          font-weight: 400;
          line-height: 1;
          color: #6a6a6a;
          font-family: Poppins, 'Source Sans Pro';
        }
      }
      .m-JNn {
        line-height: 1;
        color: #6a6a6a;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 1.8rem;
        font-weight: 400;
      }
    }
    .auto-group-j5r2-qdc {
      height: 5rem;
      display: flex;
      column-gap: 1.5rem;
      align-items: center;
      flex-shrink: 0;
      margin-bottom: 4rem;
      width: 100%;

      .description-AA6 {
        white-space: nowrap;
        justify-content: center;
        border-radius: 1.2rem;
        font-size: 1.4rem;
        background-color: #4ca6a8;
        flex-shrink: 0;
        width: 12.3rem;
        font-weight: 500;
        line-height: 1;
        font-family: Poppins, 'Source Sans Pro';
        display: flex;
        height: 100%;
        color: #ffffff;
        align-items: center;
      }
      .company-FBY {
        line-height: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        font-size: 1.4rem;
        white-space: nowrap;
        border-radius: 1.2rem;
        width: 11.1rem;
        color: #6a6a6a;
        background-color: #fafafa;
        flex-shrink: 0;
        font-weight: 400;
        font-family: Poppins, 'Source Sans Pro';
      }
      .revies-jcW {
        height: 100%;
        flex-shrink: 0;
        border-radius: 1.2rem;
        color: #6a6a6a;
        justify-content: center;
        background-color: #fafafa;
        align-items: center;
        font-weight: 400;
        line-height: 1;
        white-space: nowrap;
        display: flex;
        width: 10.4rem;
        font-size: 1.4rem;
        font-family: Poppins, 'Source Sans Pro';
      }
    }
    .qualifications-1pv {
      margin: 0rem 4.9rem 1.7rem 0rem;
      width: 31.9rem;
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .auto-group-kmpq-8ee {
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        box-sizing: border-box;
        padding-bottom: 0.6rem;

        .qualifications--UTc {
          font-size: 1.8rem;
          font-weight: 500;
          line-height: 1;
          color: #1a1d1e;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 2rem;
        }
        .auto-group-rnnn-cZp {
          flex-shrink: 0;
          margin-right: 1.3rem;
          width: calc(100% - 1.3rem);
          display: flex;
          align-items: flex-start;

          .ellipse-10-MnJ {
            flex-shrink: 0;
            margin: 0.9rem 1rem 0rem 0rem;
            width: 0.5rem;
            height: 0.5rem;
            background-color: #1f2427;
            border-radius: 0.25rem;
          }
          .strong-problem-solving-skills-to-troubleshoot-issues-and-find-effective-solutions-5TQ {
            line-height: 1.8461538462;
            color: #6a6a6a;
            font-family: Poppins, 'Source Sans Pro';
            flex-shrink: 0;
            max-width: 29.1rem;
            font-size: 1.3rem;
            font-weight: 400;
          }
        }
      }
      .auto-group-wjhc-a9G {
        display: flex;
        align-items: center;
        flex-shrink: 0;
        width: 100%;

        .ellipse-11-Kce {
          margin: 0rem 1rem 1.9rem 0rem;
          width: 0.5rem;
          height: 0.5rem;
          background-color: #1f2427;
          border-radius: 0.25rem;
          flex-shrink: 0;
        }
        .proficiency-in-nodejs-python-ruby-or-php-and-familiarity-with-databases-qqt {
          line-height: 2.1538461538;
          color: #6a6a6a;
          font-family: Poppins, 'Source Sans Pro';
          flex-shrink: 0;
          max-width: 30.4rem;
          font-size: 1.3rem;
          font-weight: 400;
        }
      }
      .auto-group-shh4-WBL {
        flex-shrink: 0;
        box-sizing: border-box;
        padding-top: 0.6rem;
        width: 100%;
        display: flex;
        flex-direction: column;

        .auto-group-tgcr-SKt {
          margin: 0rem 1.3rem 0.9rem 0rem;
          width: calc(100% - 1.3rem);
          display: flex;
          align-items: flex-start;
          flex-shrink: 0;

          .ellipse-9-Ydp {
            border-radius: 0.25rem;
            flex-shrink: 0;
            margin: 1rem 1rem 0rem 0rem;
            width: 0.5rem;
            height: 0.5rem;
            background-color: #1f2427;
          }
          .strong-html-css-and-javascript-skills-with-experience-in-modern-front-end-frameworks-UGa {
            font-size: 1.3rem;
            font-weight: 400;
            line-height: 1.8461538462;
            color: #6a6a6a;
            font-family: Poppins, 'Source Sans Pro';
            flex-shrink: 0;
            max-width: 29.1rem;
          }
        }
        .auto-group-bdnz-wvr {
          margin-right: 0.6rem;
          width: calc(100% - 0.6rem);
          display: flex;
          align-items: flex-start;
          flex-shrink: 0;

          .ellipse-12-634 {
            border-radius: 0.25rem;
            flex-shrink: 0;
            margin: 1rem 1rem 0rem 0rem;
            width: 0.5rem;
            height: 0.5rem;
            background-color: #1f2427;
          }
          .understanding-of-web-security-best-practices-including-preventing-common-vulnerabilities-1Qv {
            font-weight: 400;
            line-height: 1.8461538462;
            color: #6a6a6a;
            font-family: Poppins, 'Source Sans Pro';
            flex-shrink: 0;
            max-width: 29.8rem;
            font-size: 1.3rem;
          }
        }
      }
    }
    .auto-group-smyk-hYe {
      align-items: center;
      flex-shrink: 0;
      margin-right: 3.3rem;
      width: calc(100% - 3.3rem);
      display: flex;

      .btn-3Mc {
        background-color: #4ca6a8;
        flex-shrink: 0;
        cursor: pointer;
        font-weight: 600;
        line-height: 1;
        display: flex;
        height: 5.4rem;
        font-size: 1.6rem;
        color: #ffffff;
        white-space: nowrap;
        justify-content: center;
        margin: 0rem 2rem 0.1rem 0rem;
        width: 26.1rem;
        align-items: center;
        border-radius: 1.2rem;
        text-align: center;
        font-family: Poppins, 'Source Sans Pro';
      }
      .btn-gfU {
        padding: 1.7rem;
        background-color: #4ca6a8;
        border-radius: 1.2rem;
        flex-shrink: 0;
        margin-top: 0.1rem;
        box-sizing: border-box;

        .chat-Rsx {
          width: 2rem;
          height: 2rem;
          object-fit: contain;
          vertical-align: top;
        }
      }
    }
  }
}
