
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 37.5rem;
}.home-Bzr {
  box-sizing: border-box;
  padding-top: 4rem;
  width: 100%;
  height: 81.2rem;
  overflow: hidden;
  position: relative;
  background-color: #fbfbfb;

  .group-1000000727-WnE {
    row-gap: 3rem;
    display: flex;
    flex-direction: column;
    width: 56rem;
    height: 80.8rem;

    .heading-qJi {
      display: flex;
      align-items: center;
      flex-shrink: 0;
      margin: 0rem 20.5rem 0rem 2rem;
      width: calc(100% - 22.5rem);

      .menu-A66 {
        margin-right: 24.7rem;
        width: 4.4rem;
        height: 4.4rem;
        cursor: pointer;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .rectangle-382-VPG {
        cursor: pointer;
        object-fit: cover;
        vertical-align: top;
        border-radius: 3.5rem;
        flex-shrink: 0;
        width: 4.4rem;
        height: 4.4rem;
      }
    }
    .search-box-Qm8 {
      display: flex;
      align-items: center;
      flex-shrink: 0;
      margin: 0rem 20.5rem 0rem 2rem;
      width: calc(100% - 22.5rem);
      height: 5.4rem;

      .auto-group-1vwp-8SE {
        box-sizing: border-box;
        padding: 1.9rem 2rem;
        line-height: 1;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        background-color: #ffffff;
        margin-right: 1.5rem;
        height: 100%;
        flex-shrink: 0;
        width: 26.6rem;
        font-size: 1.6rem;
        font-weight: 400;
        color: #6a6a6a;
        border-radius: 1.5rem;
      }
      .go-btn-aZ8 {
        box-sizing: border-box;
        padding: 1.9rem 1.7rem;
        height: 100%;
        cursor: pointer;
        background-color: #4ca6a8;
        border-radius: 1.5rem;
        flex-shrink: 0;

        .adjust-horizontal-alt-7JA {
          object-fit: contain;
          vertical-align: top;
          width: 2rem;
          height: 1.6rem;
        }
      }
    }
    .popular-job-piN {
      margin-left: 2rem;
      width: 54rem;
      flex-shrink: 0;

      .auto-group-bmz2-AnE {
        margin: 0rem 20.5rem 2rem 0rem;
        width: calc(100% - 20.5rem);
        display: flex;
        align-items: flex-end;

        .popular-job-J7k {
          line-height: 1;
          color: #1a1d1e;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 16.3rem;
          font-size: 2rem;
          font-weight: 600;
        }
        .show-all-RTG {
          line-height: 1;
          color: #6a6a6a;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.2rem;
          font-weight: 400;
        }
      }
      .auto-group-zwc2-Z3g {
        display: flex;
        align-items: center;
        width: 100%;
        height: 16rem;

        .google-Vi2 {
          box-sizing: border-box;
          padding: 1.5rem 1.3rem 2.4rem 1.3rem;
          width: 26rem;
          height: 100%;
          flex-shrink: 0;
          margin-right: 2rem;
          box-shadow: 0 1rem 3.5rem rgba(0, 0, 0, 0.1000000015);
          background-color: #ffffff;
          border-radius: 2rem;

          .google-cGr {
            vertical-align: top;
            margin: 0rem 0rem 0.5rem 0.2rem;
            width: 4rem;
            height: 4rem;
            object-fit: contain;
          }
          .google-w4E {
            line-height: 1;
            color: #6a6a6a;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            text-align: center;
            font-size: 1.2rem;
            font-weight: 400;
            margin-bottom: 2rem;
            width: 100%;
          }
          .lead-product-manager-XwY {
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            margin: 0rem 0rem 1.6rem 0.2rem;
            font-size: 1.6rem;
            font-weight: 500;
            line-height: 1;
            color: #151313;
          }
          .auto-group-aob8-3ez {
            align-items: center;
            margin-right: 9.4rem;
            width: calc(100% - 9.4rem);
            display: flex;

            .m-bAi {
              font-family: Poppins, 'Source Sans Pro';
              flex-shrink: 0;
              margin-right: 2.9rem;
              font-size: 1.2rem;
              line-height: 1;
              white-space: nowrap;
              text-align: center;
              font-weight: 600;
              color: #151313;
            }
            .erbil-iraq-7Px {
              line-height: 1;
              color: #6a6a6a;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              text-align: center;
              font-size: 1.2rem;
              font-weight: 400;
            }
          }
        }
        .shopify-QP4 {
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 1.5rem 2rem 2.2rem 1.2rem;
          width: 26rem;
          height: 100%;
          box-shadow: 0 1rem 3.5rem rgba(0, 0, 0, 0.1000000015);
          background-color: #ffffff;
          border-radius: 2rem;

          .auto-group-w52r-jRL {
            margin: 0rem 0rem 0.5rem 0.3rem;
            width: calc(100% - 0.3rem);
            display: flex;
            align-items: center;

            .logo-rF4 {
              flex-shrink: 0;
              margin-right: 15.7rem;
              width: 4rem;
              height: 4rem;
              object-fit: contain;
              vertical-align: top;
            }
            .love-PEz {
              width: 2.8rem;
              height: 2.8rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin-bottom: 0.2rem;
            }
          }
          .shopify-KeS {
            margin-bottom: 2rem;
            width: 100%;
            font-size: 1.2rem;
            line-height: 1;
            font-family: Poppins, 'Source Sans Pro';
            text-align: center;
            font-weight: 500;
            color: #6a6a6a;
            white-space: nowrap;
          }
          .senior-ui-designer-Dzi {
            line-height: 1;
            color: #151313;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            margin: 0rem 0rem 1.8rem 0.3rem;
            font-size: 1.6rem;
            font-weight: 500;
          }
          .auto-group-mpwe-XkW {
            margin-right: 6.4rem;
            width: calc(100% - 6.4rem);
            display: flex;
            align-items: center;

            .m-g7c {
              line-height: 1;
              font-family: Poppins, 'Source Sans Pro';
              flex-shrink: 0;
              margin-right: 0.5rem;
              text-align: center;
              font-weight: 600;
              font-size: 1.2rem;
              color: #151313;
              white-space: nowrap;
            }
            .toronto-canada-1Qn {
              font-size: 1.2rem;
              font-weight: 400;
              line-height: 1;
              color: #9e9e9e;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              text-align: center;
            }
          }
        }
      }
    }
    .auto-group-a4ne-Vqk {
      width: 37.5rem;
      height: 42rem;
      position: relative;
      flex-shrink: 0;

      .recent--F4E {
        position: absolute;
        display: flex;
        flex-direction: column;
        width: 33.5rem;
        height: 42rem;
        left: 2rem;
        top: 0;
        row-gap: 2rem;
        align-items: center;

        .auto-group-htwn-9vJ {
          width: 100%;
          display: flex;
          align-items: flex-end;
          flex-shrink: 0;

          .recent-post-JoC {
            flex-shrink: 0;
            margin-right: 16.6rem;
            font-size: 2rem;
            font-weight: 600;
            line-height: 1;
            color: #1a1d1e;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
          }
          .show-all-3Vt {
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.2rem;
            font-weight: 400;
            line-height: 1;
            color: #6a6a6a;
            font-family: Poppins, 'Source Sans Pro';
          }
        }
        .fb-tab-aki {
          box-sizing: border-box;
          padding: 1.5rem 1.2rem 1.5rem 1.5rem;
          display: flex;
          box-shadow: 0 1rem 3.5rem rgba(63, 59, 75, 0.1000000015);
          width: 100%;
          height: 8rem;
          align-items: center;
          background-color: #ffffff;
          border-radius: 2rem;
          flex-shrink: 0;

          .facebook-WPU {
            height: 5rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 2rem;
            width: 5rem;
          }
          .auto-group-e9xw-F6A {
            margin: 0.5rem 5.8rem 0.7rem 0rem;
            height: calc(100% - 1.2rem);
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .ui-ux-designer-yXx {
              font-weight: 600;
              line-height: 1;
              color: #1a1d1e;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-bottom: 1rem;
              font-size: 1.6rem;
            }
            .full-time-ugW {
              line-height: 1;
              color: #6a6a6a;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.2rem;
              font-weight: 400;
            }
          }
          .m-3Gv {
            font-size: 1.2rem;
            font-weight: 500;
            line-height: 1;
            color: #6a6a6a;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
        }
        .spotify-tab-kBL {
          box-shadow: 0 1rem 3.5rem rgba(63, 59, 75, 0.1000000015);
          background-color: #ffffff;
          flex-shrink: 0;
          box-sizing: border-box;
          height: 8rem;
          align-items: center;
          border-radius: 2rem;
          padding: 1.5rem 1.2rem 1.5rem 1.5rem;
          width: 100%;
          display: flex;

          .spotify-fZC {
            width: 5rem;
            height: 5rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 2rem;
          }
          .auto-group-nqas-cDY {
            margin: 0.5rem 4rem 0.7rem 0rem;
            height: calc(100% - 1.2rem);
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .product-designer-XrJ {
              margin-bottom: 1rem;
              font-size: 1.6rem;
              font-weight: 600;
              line-height: 1;
              color: #1a1d1e;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
            .full-time-fBp {
              line-height: 1;
              color: #6a6a6a;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.2rem;
              font-weight: 400;
            }
          }
          .m-Pdc {
            font-size: 1.2rem;
            font-weight: 500;
            line-height: 1;
            color: #6a6a6a;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
        }
        .netflix-Hiz {
          box-sizing: border-box;
          padding: 1.5rem 1.2rem 1.5rem 1.5rem;
          height: 8rem;
          display: flex;
          box-shadow: 0 1rem 3.5rem rgba(63, 59, 75, 0.1000000015);
          background-color: #ffffff;
          width: 100%;
          align-items: center;
          border-radius: 2rem;
          flex-shrink: 0;

          .spotify-cFU {
            width: 5rem;
            height: 5rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 2rem;
          }
          .auto-group-hwga-LhG {
            margin: 0.5rem 5.3rem 0.7rem 0rem;
            height: calc(100% - 1.2rem);
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .visual-designer-fUe {
              white-space: nowrap;
              flex-shrink: 0;
              margin-bottom: 1rem;
              font-size: 1.6rem;
              font-weight: 600;
              line-height: 1;
              color: #1a1d1e;
              font-family: Poppins, 'Source Sans Pro';
            }
            .full-time-QBL {
              line-height: 1;
              color: #6a6a6a;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.2rem;
              font-weight: 400;
            }
          }
          .m-vQa {
            font-size: 1.2rem;
            font-weight: 500;
            line-height: 1;
            color: #6a6a6a;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
        }
        .slack-1S2 {
          display: flex;
          box-shadow: 0 1rem 3.5rem rgba(63, 59, 75, 0.1000000015);
          background-color: #ffffff;
          opacity: 0.3;
          box-sizing: border-box;
          padding: 1.5rem 2.6rem 1.5rem 1.5rem;
          height: 8rem;
          width: 100%;
          align-items: center;
          border-radius: 2rem;
          flex-shrink: 0;

          .spotify-7V4 {
            margin-right: 2rem;
            width: 5rem;
            height: 5rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .auto-group-kzre-rBk {
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            margin: 0.5rem 7.5rem 0.7rem 0rem;
            height: calc(100% - 1.2rem);

            .visual-designer-adY {
              flex-shrink: 0;
              margin-bottom: 1rem;
              font-size: 1.6rem;
              font-weight: 600;
              line-height: 1;
              color: #1a1d1e;
              font-family: Sofia Pro, 'Source Sans Pro';
              white-space: nowrap;
            }
            .full-time-7tN {
              line-height: 1;
              color: #9e9e9e;
              font-family: Sofia Pro, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.2rem;
              font-weight: 400;
            }
          }
          .m-TxE {
            line-height: 1;
            color: #9e9e9e;
            font-family: Sofia Pro, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.2rem;
            font-weight: 500;
          }
        }
      }
      .navigation-NZQ {
        left: 0;
        top: 29.2rem;
        width: 37.5rem;
        height: 9.2rem;
        position: absolute;

        .shadow-6VQ {
          position: absolute;
          left: 0;
          top: 0;
          background: linear-gradient(180deg, rgba(7, 20, 41, 0.0700000003) 0%, rgba(196, 196, 196, 0.0700000003) 100%);
          width: 37.5rem;
          height: 4.8rem;
        }
        .rectangle-67-zKt {
          width: 37.5rem;
          height: 7rem;
          position: absolute;
          left: 0;
          top: 2.2rem;
          background-color: #ffffff;
          border-radius: 3.05rem 3.05rem 0 0;
        }
        .vector-3-WJE {
          top: 7.9rem;
          object-fit: contain;
          vertical-align: top;
          width: 1.6rem;
          height: 1.3rem;
          position: absolute;
          left: 4.9rem;
        }
        .home-2nN {
          width: 1.9rem;
          height: 2rem;
          position: absolute;
          left: 4.85rem;
          top: 4.2rem;
          object-fit: contain;
          vertical-align: top;
        }
        .massage-mV4 {
          top: 4.2rem;
          align-items: center;
          display: flex;
          flex-direction: column;
          width: 5.5rem;
          height: 3.7rem;
          position: absolute;
          left: 12.2rem;

          .chat-6nE {
            vertical-align: top;
            flex-shrink: 0;
            margin: 0rem 0rem 0.5rem 0.1rem;
            width: 2rem;
            height: 2rem;
            object-fit: contain;
          }
          .massage-2ft {
            color: #a8a8aa;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.2rem;
            font-weight: 400;
            line-height: 1;
          }
        }
        .setting-mNa {
          top: 4.2rem;
          align-items: center;
          display: flex;
          flex-direction: column;
          width: 4.2rem;
          height: 3.7rem;
          position: absolute;
          left: 29.4rem;

          .setting-uDt {
            vertical-align: top;
            flex-shrink: 0;
            margin: 0rem 0rem 0.5rem 0.1rem;
            width: 1.9rem;
            height: 2rem;
            object-fit: contain;
          }
          .setting-dfg {
            font-size: 1.2rem;
            font-weight: 400;
            line-height: 1;
            color: #a8a8aa;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
        }
        .profile-yjY {
          flex-direction: column;
          width: 3.7rem;
          height: 3.7rem;
          position: absolute;
          left: 21.7rem;
          top: 4.2rem;
          align-items: center;
          display: flex;

          .profile-K2i {
            width: 1.6rem;
            height: 2rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin: 0rem 0rem 0.5rem 0.1rem;
          }
          .profile-3UW {
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.2rem;
            font-weight: 400;
            line-height: 1;
            color: #a8a8aa;
            font-family: Poppins, 'Source Sans Pro';
          }
        }
      }
    }
  }
}
